<form action="/process" method="POST">
    <input type="hidden" name="hush" val="hidden, but no secret!">
    <div>
        <label for="fieldColor">Your favorite color:</label>
        <input type="text" name="color" id="fieldColor">
    </div>
    <div>
        <button type="submit">submit</button>
    </div>
</form>
